# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Database
*.db
*.db-journal

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Torrent Temp
torrent-stream/
tmp/
downloads/
